@import url("../../components/popup/style.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('../../components/popup/style.css'); 


.menu {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 25%;
  height: 100%;
  background-color: #29465C;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  color: #fff;
  position: fixed;
  top: 0;
}
.logo-header {
    cursor: pointer;
    width: 70%;
    margin: 5% auto;
  }
.profile,
.btnLogout {
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  margin: 5%;
  font-size: 20px;
}
.navProfile {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.692);
    width: 80%;
    border-radius: 5%;
    margin: 5% auto;
    padding: 5%;
    box-shadow: rgb(140, 166, 189) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
.profile{
    text-align: center;
    letter-spacing: 2px;
    color:#29465C;
    text-shadow: 2px 0px #29465C;
}

.profilePhoto {
    margin-inline: auto;
    width: 60%;
    border-radius: 10%;
    border: solid 1px #29465C;
  }
.userName, .boatName{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 5%;
    color: #000;

}
.btnLogout{
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px #000000;
}


